<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="hospitalServer.dao.ReportDao" >

    <select id="getUserReport" parameterType="java.lang.String" resultType="hospitalServer.bean.Report">
        SELECT * FROM report WHERE user_id=#{userId}
    </select>

</mapper>